body{

    background-color: #94D0FF;
    f
}
img {
    max-width: 100%;
}

a {
    color: MediumSlateBlue;
}

h1 {
    font-size: 30px;
    color: #F9E3F4;
    font-family: "Arial Black", Gadget, sans-serif;
}

h2 {
    font-size: 40px;
    color: #657DBF;
    font-family: "Arial Black", Gadget, sans-serif;
}
h3 {
    font-size: 60px;
    color: #657DBF;
    font-family: "Arial Black", Gadget, sans-serif;
}

p {

    padding-right: 70px;
    text-align: right;
    font-size: 20px;
    font-family: "Arial", Helvetica, sans-serif;
}

img.pix{
  float: left;

}




#triangle-topleft {
  float: left;
	width: 0;
	height: 0;
	border-top: 100px solid #ffb3d1;
	border-right: 100px solid transparent;
}

#triangle-topright {
  float: right;
	width: 0;
	height: 0;
	border-top: 100px solid #ffb3d1;
	border-left: 100px solid transparent;

}



#triangle-bottomleft {
  float: left;
	width: 0;
	height: 0;
	border-bottom: 100px solid #ffb3d1;
	border-right: 100px solid transparent;
}


#triangle-bottomright {
  float: right;
	width: 0;
	height: 0;
	border-bottom: 100px solid #ffb3d1;
	border-left: 100px solid transparent;
}
