
/*floating images */



.heart {
    float: left;
    animation-delay: 1s;
    -webkit-animation-name: scalex;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}

    @-webkit-keyframes scalex{
        from {-webkit-transform: scale(0.9);}
        65% {-webkit-transform: scale(1.0);}
        to {-webkit-transform: scale(0.9);}
    }

    @-moz-keyframes scale{
        from {-moz-transform: scale(0.9);}
        65% {-moz-transform: scale(1.0);}
        to {-moz-transform: scale(0.9);}
    }


/*heart color */


    .heart {
     fill: none;
     stroke: #f442b9;
     stroke-miterlimit:10;
     cursor: pointer;
     height: 200px;
     width: 100px;
    }
    .heart:hover {
     fill: #cc6699;
     stroke-width: 6;

}

/*enddd*/
