body{

    font-family:	Arial, Helvetica, sans-serif;
    background-color: #FFFFF5;
}

h1 {
    font-size: 50px;
    font-family: "Arial Black", Gadget, sans-serif;
}

h2 {
    font-size: 30px;
    font-family: "Arial Black", Gadget, sans-serif;
}

p {
    font-size: 14px;
    font-family: "Arial", Helvetica, sans-serif;
}

img {
    max-width: 100%;

  }
/*layout*/
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: left;
}

header {background: #5f8391;color:white;}
footer {background: #9aa9af;color:white;}
.nav {background:#9aa9aa;}

.nav ul {
    list-style-type: none;
    padding: 20px;
}
.nav ul a {
    text-decoration: none;
}

/*end layout*/

/*hover text*/

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;


}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: none;
  overflow: hidden;
  width: 0;
  height: 50%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
  left: 0;

}

.text {
  white-space: wrap;
  color: white;
  font-size: 48px;
  position: absolute;
  background-color: grey;
  overflow: hidden;
  top: 60%;
  left: 60%;
  transform: translate(-60%, -60%);
  -ms-transform: translate(-60%, -60%);
}

/*hover text end*/

/*img effects*/
.otters {
  max-width:600px;
  width: 100%;

}

.container:hover .otters {
  display:inline-block;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

}
